*{
	box-sizing: border-box;
}

body{
	background-color: #000000;
}

.colorWrapper{
	height: 67px;
	width: 60px;
	display: inline-block;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 9px;
}
.colorWrapper:last-child{
	height: 70px;
	border-bottom: 0px;
}

.colorWrapper.checked{
	background-color: #555555;
}

#heading{
	text-align: center;
	font-family: helvetica;
	font-size: 40px;
	margin: 0px auto;
	margin-top: 20px;
	color: white;
}

#world{
	position: absolute;
	left: 60px;
	top: 0px;
	z-index: 1;

	vertical-align: top;
	display: inline;
	width: 800px;
	height: 800px;

	opacity: 0.0;

	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#loading{
	width: 800px; 
	height: 100px; 
	position: absolute; 
	top: 350px; 
	left: 60px;
	text-align: center; 
	z-index: 2;
	font-size: 30px;
	opacity: 1.0;
	line-height: 100px;

	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;

	color: white;

	background-color: rgba(255,255,255,0.5);
}

#container{
	position: relative;
	vertical-align: top;
	display: block;
	width: 860px;
	height: 800px;
	margin: 0px auto;
	margin-top: 25px;
}

#sidebar{
	position: relative;
	vertical-align: top;
	width: 60px;
	height: 800px;
	display: inline-block;
	background: #DDDDDD;
	padding-top: 0px;
	overflow: hidden;
}